__pycache__/
*.pyc
*.pyo
.DS_Store
.git
9606.protein.links.v12.0.txt
metrics_version_0.npz
metrics_version_1.npz
metrics_version_2.npz
metrics_version_3.npz
latent_parameters_v0.csv
latent_parameters_v1.csv
latent_parameters_v2.csv
latent_parameters_v3.csv
latent_variables_sampled.csv
